a {
  cursor: pointer;
}

table.linkfinder-table th,
table.linkfinder-table td {
  vertical-align: middle;
}

table.linkfinder-table tr:not(:last-child)>td {
  border-bottom: 1px solid #c3c4c7;
}

table.linkfinder-table tr.linkfinder-tr-warn>td,
table.linkfinder-table td.linkfinder-tr-warn {
  background-color: #ffffb3;
}

table.linkfinder-table tr.linkfinder-tr-err>td,
table.linkfinder-table td.linkfinder-tr-err {
  background-color: #ffc6b3;
}

.linkfinder-loader {
  display: inline-block;
  width: 20px;
  vertical-align: text-bottom;
  color: #2271b1;
  text-align: center;
  outline: none;
  box-shadow: none !important;
  /* cursor: wait !important; */
}

.linkfinder-loader>div {
  display: block;
  padding-top: 100%;
  border-top-style: solid;
  border-top-width: 2px;
  border-radius: 50%;
  border-color: #2271b1;
  -webkit-animation: linkfinder-loader 1s linear infinite;
  animation: linkfinder-loader 1s linear infinite;
}

@-webkit-keyframes linkfinder-loader {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes linkfinder-loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}